.heroes {
  list-style: none;
  margin: 1em 0;
  padding: 0;
}
.heroes_item {
  display: flex;
  margin-bottom: 0.5em;
}
.heroes_item a {
  display: flex;
  flex: 1 0 auto;
  align-items: stretch;
  height: 2em;
}
.heroes_item_number {
  display: flex;
  flex: 0 0 2em;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #369;
  color: white;
}
.heroes_item_name {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  padding-left: 1em;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: lightgrey;
}
.heroes_item_delete {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex: 0 0 1em;
}
.heroes_item__selected .heroes_item_name {
  background-color: lightblue;
}
.add-input {
  margin: 1em 0.5em;
}